@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* sheard styles */
.display-flex {
  display: flex;
}
/* dark-01 */
.text-primary {
  color: #ff900e;
}
/* dark-02 */
.text-gray {
  color: #424242;
}
/* dark-03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  margin-bottom: 50px;
  border-radius: 8px;
}
main > section {
  margin-top: 130px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.section-title {
  font-weight: 700;
  font-size: 2.8rem;
}

/* nav bar styles */
.brand {
  font-weight: 700px;
  font-size: 45px;
}
.navbar {
  justify-content: space-between;
}

.nav-item {
  list-style: none;
  margin-right: 40px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
}

.navbar,
.banner {
  margin: 0 auto;
  align-items: center;
}

/*  Banner related Styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-weight: 700px;
  font-size: 4rem;
}
.banner-image {
  width: 100%;
}
/* teams and feture related style  */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-fetures {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
/* Some facts */

.fact {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description {
  width: 542px;
  line-height: 26px;
}

/* Responsive media queray */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-fetures {
    margin-left: 20px;
  }
}
/* Medium size device */
@media screen and (min-width: 576px) and (max-width: 999px) {
  .teams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-fetures {
    margin: 20px auto;
  }
}
